*{
    margin: 0;
    padding: 0;
}
    

.cabecalho {
    background-color: #000000;
    color: #00FF0A;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 40px 16px;
    font-size: 24px;
}